<html>
<head>
    <meta charset="utf-8">
    <title>Учет заправок</title>
    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap-theme.css"/>
    <script type="text/javascript" src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script type="text/javascript" src="/templates/js/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        Array.prototype.in_array = function(p_val) {
            for(var i = 0, l = this.length; i < l; i++)	{
                if(this[i] == p_val) {
                    return true;
                }
            }
            return false;
        }

        $(document).ready(function() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    console.log("/geo-search.php?coords=" + latitude + ',' + longitude);

                    $.ajax({
                        url: "/geo-search.php?coords=" + latitude + ',' + longitude,
                        success: function(data){
                            $("#station-list").append(data);
                        }
                    });

                    $.ajax({
                        url: "/geo-search.php?name=заправка wog&coords=" + latitude + "," + longitude,
                        success: function(data){
                            $("#station-list").append(data);
                        }
                    });

                });

            }
            $(".decimal").mask("99.99", {placeholder: "xx.xx"});
            $("#cost").keydown(function(e){
                var keys = [8, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 110, 190];
                if (!keys.in_array(e.which)) {
                    return false;
                }
                if ($("#cost").val().indexOf('.') != -1 && (e.which == 110 || e.which == 190)) {
                    return false;
                }
            });
        });



    </script>
</head>
<body>
    {% if showAddForm == true %}
    <form method="post" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="petrol-type">Вид топлива:</label>
            <div class="controls">
                <select name="petrol-type" id="petrol-type">
                    <option value="A-95 Euro">A-95 Euro</option>
                    <option value="A-95">A-95</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="station-name">АЗК:</label>
            <div class="controls">
                <select name="station-name" id="station-list">
                    <option value="OKKO">OKKO</option>
                    <option value="WOG">WOG</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="price">Цена за 1 литр:</label>
            <div class="controls">
                <input type="text" name="price" id="price" class="decimal" placeholder="цена за 1л">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="volume">Количество литров:</label>
            <div class="controls">
                <input type="text" name="volume" id="volume" class="decimal" placeholder="объем (л)">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cost">Итоговая стоимость заправки:</label>
            <div class="controls">
                <input type="text" name="cost" id="cost" placeholder="стоимость">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="date">Дата:</label>
            <div class="controls">
                <input type="text" name="date" id="date" placeholder="дата: dd.mm.YYYY">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="volume">Пробег:</label>
            <div class="controls">
                <input type="number" name="run" id="run" placeholder="пробег (км)">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Добавить</button>
            </div>
        </div>
    </form>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Вид топлива</th>
                <th>АЗК</th>
                <th>Цена за 1 литр</th>
                <th>Количество литров</th>
                <th>Стоимость заправки</th>
                <th>Скидка</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for rb in rList %}
                <tr class="warning">
                    <td colspan="7" style="font-weight: bold; text-align: center;">{{ rb.monthName | capitalize }}</td>
                </tr>
                {% for r in rb.refs %}
                    <tr>
                        <td>{{ r.getPetrolType() }}</td>
                        <td>{{ r.getStationName() }}</td>
                        <td>{{ r.getPrice() | number_format(2, '.', ' ') }} грн.</td>
                        <td>{{ r.getVolume() }} л</td>
                        <td>{{ r.getCost() | number_format(2, '.', ' ') }} грн.</td>
                        <td>{% if r.getDiscount() | abs < 0.01 %}-{% else %}{{ r.getDiscount() | number_format(2, '.', ' ') }} грн. <span style="font-size: 12px; color: gray;">({{ r.getDiscountPer() | number_format(1, '.', ' ') }}%)</span>{% endif %}</td>
                        <td>{{ r.getDate() | date('d.m.Y') }}</td>
                    </tr>
                {% endfor %}
                <tr class="success">
                    <td colspan="4">Всего за {{ rb.monthName }}:</td>
                    <td>{{ rb.totalCost | number_format(2, '.', ' ') }} грн.</td>
                    <td>{{ rb.totalDiscount | number_format(2, '.', ' ') }} грн.</td>
                    <td></td>
                </tr>
            {% endfor %}
            <tr class="info">
                <td colspan="4">За всё время:</td>
                <td>{{ total.totalCost | number_format(2, '.', ' ') }} грн.</td>
                <td>{{ total.totalDiscount | number_format(2, '.', ' ') }} грн.</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div id="map"></div>
</body>
</html>
